

.navigation-bar {
    background-color: #2c2d2d;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav--link {
    color: white;
    text-decoration: none;
    margin: 50px;
}
.nav--link:hover {
    color: aquamarine;
}
.hero {
    background-color: #1F2428;
    min-height: 70vh;
    color: rgb(223, 250, 219);
}
#profile_pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.hero--content {
    margin: 0 auto;
    width: 800px;
    padding-top: 3em;
}
.hero--content--intro {
    display: flex;
    justify-content: center;
    color: rgb(223, 250, 219);
    align-items: center;
    gap: 1em;
    margin-bottom: 3em;
}
.intro--name {
    font-size: 80px;
    font-weight: 700;
}
.hero--content--subsection {
    text-align: center;
}
.description {
    font-size: 42px;
}
.slogan {
    font-size: 20px;
}

/*------------------------------------ Projects Section------------------------------------- */

body {
    background-color: #e5e5e5;
}
.section--2 {
    background-color: #e5e5e5;
}
.project--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.project--thumbnail {
    width: 100%;
}
.project--body {
    background-color: #fff;
    padding: 1em;
}
/*------------------------------------ skills Section------------------------------------- */
.skills--container {
    width: 600px;
    margin: 0 auto;
}
.section--1{
    background-color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
}
.skills--wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
}
@media (max-width: 900px){
    .intro--name {
        font-size: 48px;
    }
    .hero--content--intro {
        flex-direction: column;
    }
    .project--wrapper{
        grid-template-columns: 1fr;
    }
}

.other--skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.skill--tag {
    background-color: #C4E7F2;
    /* width: fit-content; */
    min-width: 30%;
    padding: 5px 20px;
    border-radius: 20px;
    flex-basis: 25%;
    text-align: center;
}
@media (max-width: 600px){
    .hero--content {
        width: 100%;
    }
    .skills--container {
        width: 100%;
        padding: 1em;
    }
    #profile_pic {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
    }
    .description {
        font-size: 32px;
    }
    .slogan {
        font-size: 16px;
    }
    p{
        font-size: 20px;
    }

}

.flex-me {
    display: flex;
    flex-wrap: wrap;
}

.project--image {
    max-width: 800px;
    margin: 20px;
}