{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h1 class="text-white">Add Endorsements</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-2 text-white">
            <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>

{% endblock %}