{% extends 'base/index.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h3 class="text-white">form</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}

        {% for field in form %}
            <div class="mb-3 text-white">
                <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
                {{field}}
            </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>

{% endblock %}